@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Jost:wght@500&family=PT+Sans:wght@700&display=swap');

.link {
    font-family: 'Jost', sans-serif;
    color: #ccc;
    font-weight: 600;
    font-size: 2em;
    border-bottom: 5px solid transparent;
    text-decoration: none;
    display: grid;
    align-items: center;
    position: relative;
    top: 5px;
    transition: all 1s ease;
}

.link:hover {
    color: #333;
    border-bottom-color: grey;
}

.link span.icon {
    font-size: 1.2em;
}

.link span.title {
    font-size: .3em;
    font-weight: 300;
}

.link.active {
    border-bottom-color: #1965a3;
    color: #1965a3
}