.alert {
    padding: 1em;
    border: 1px solid;
    border-left: 0.3em solid;

    background-color: #f4f4f5;
    color: #52525b;
    border-color: #e4e4e7;
}

.error {
    background-color: #fef2f2;
    color: #b91c1c;
    border-color: #fecaca;
}

.success {
    background-color: #DCFCE7;
    color: #047857;
    border-color: #A7F3D0;
}