.button {
    color: white;
    border: none;
    padding: 0.5em 0.7em;
    cursor: pointer;
    border-radius: .2em;
    letter-spacing: .03em;
    font-size: 1.1em;
}

.button:disabled {
    opacity: .8;
    cursor: not-allowed;
}

.success { background: linear-gradient(#79ba14, #82cb15); }
.success:hover { background: linear-gradient(#6eb30e, #8ad120); }

.error { background: linear-gradient(#ef4444, #f87171); }
.error:hover { background: linear-gradient(#f87171, #ef4444); }

.link { 
    background: transparent;
    color: grey;
    text-decoration: underline;
    font-size: .9em;
    padding: 0.2em 0.3em;
}
.link:hover {
    text-decoration: none;
    color: black;
}

.info {
    background: linear-gradient(grey, rgb(147, 147, 147));
}

.info:hover {
    background: linear-gradient(rgb(147, 147, 147), grey);
}

.center {
    display: block;
    margin: 0 auto;
}