.section {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
}

.title {
    font-size: 1.3em;
    margin-bottom: .5em;
}

.body {
    background-color: #f2f2f2;
    background: linear-gradient(45deg, #eeeeee, #f8f8f8);
    padding: 0.8em 1.6em;
    border-radius: 0.2em;
    display: grid;
    gap: 1em;
    border: 1px solid #e1e1e1;
    width: 400px;
}

