@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0 0.5em;
}

a {
    color: #1965a3;
}
a:hover {
    color: black;
}